<nav class="navbar navbar-dark bg-dark rounded">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<h1>My News Feed</h1>
		</a>
		<div class="d-flex">
			<img src="./assets/user.png" alt="user" class="d-inline-block align-text-top w-75">
		</div>
	</div>
</nav>
<div class="vh-100 gradient-custom">
	<div class="container py-5">
		<div class="row d-flex justify-content-center align-items-center mt-5 h-75 bg-dark text-white rounded">
			<div class="col-12 col-md-12 col-lg-12 col-xl-12">
				<div class="row">
					<div class="col-9">
						<button class="btn btn-lg btn-outline-light">Your Location Country</button>
						<button class="btn btn-lg btn-outline-light">International</button>
						<button class="btn btn-lg btn-outline-light">Local</button>
					</div>
					<div class="col-3">
						<div class="form-outline form-white mb-4">
							<input type="date" id="start" name="filter" value="2021-09-12" min="2021-01-01" max="2021-12-31" class="form-control form-control-lg">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-outline form-white mb-4">
							<input type="email" id="typeUserX" class="form-control form-control-lg w-100" placeholder="Search news" />
						</div>
					</div>
				</div>
				<div class="row text-dark p-5">
					<div *ngFor="let notice of notices" class="col-3">
						<app-notice 
							[title]="notice.title"
							[source]="notice.source"
							[content]="notice.content"
							[date]="notice.date"
							[link]="notice.link"
						>
						</app-notice>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>